@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");
body,
#app {
  font-family: "Source Code Pro", monospace;
  color: red;
  font-size: 1.1em;
  background-color: rgb(228, 228, 221);
}
#app {
  line-height: 1.5em;
}
h1 {
  font-size: 1.5em;
  font-weight: bold;
}
input,
select,
label {
  border: 3px solid #000;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  /* padding-left: 12px;*/
  :focus {
    border: 3px solid #5551ff;
  }
  font-family: "Source Code Pro", monospace;
}
label span {
  font-weight: bold;
  color: green;
  padding: 0;
}
span {
  color: black;
  padding-right: 60px;
  padding-left: 60px;
}
span.highlight {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  color: #fff;
}

input:disabled {
  filter: opacity(50%);
  cursor: not-allowed;
  font-weight: bold;
}
.hint {
  font-size: small;
}
fieldset {
  border: 1px solid blueviolet;
  margin-top: 7px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
legend {
  border: 2px solid blueviolet;
  border-radius: 5px;
  padding: 1px 5px;
  background: rgba(10, 0, 0, 0.1);
}
 
